
/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 992px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1200px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */


/* @media (max-width:1200px){
    .card-text-site .play-button span {
        color: blue;
    }
} */

@media (max-width:1200px){
    .banner-angle-img {
        bottom: 74%;
        left: 9%;
    }
    .banner-area .banner-text {
        padding-left: 20px;
    }
    .banner-area {
        padding-top: 100px;
        padding-bottom: 492px;
        margin-top: -166px;
    }
    .banner-bottom-circle-img {
        bottom: -19%;
        left: 43%;
    }
    .card-area {
        padding-top: 0px;
    }
    .card-text-site {
        padding-right: 0px;
        padding-left: 20px;
    }
    .card-text-site h1 {
        font-size: 34px;
        line-height: 40px;
    }
    .card-card-site {
        margin-left: 35px;
    }
    .marketing-text-site {
        padding-left: 50px;
    }
    .marketing-text-contant {
        width: 445px;
    }
    .android-text .marketing-text-contant {
        width: 550px;
    }
    .android-section .android-img {
        padding-left: 34px;
    }
    .android-move-img img {
        padding-left: 144px;
    }
    .progress-bar-left h2, .services-header h2, .upper-text h2 {
        font-size: 30px;
    }
    .progress-bar-left {
        padding-right: 80px;
        padding-left: 20px;
    }
    .progress-bar-img > img:nth-child(1){
        max-width: 544px;
    }
    #progresImg img {
        width: 400px;
    }
    .progress-move-img {
        top: 99%;
        left: 16%;
    }
    .rocket-section h2 {
        font-size: 30px;
    }
    #Rock img {
        max-width: 150px;
    }
    .rocket {
        left: 95%;
    }
    .contact-section .map iframe {
        width: 400px;
        height: 500px;
    }
    .contact-form .form-group {
        height: 500px;
        width: 400px;
    }
    .contact-form .form-control {
        width: 75%;
        padding: 8px;
    }
    .contact-form .boy-img img {
        max-width: 60%;
    }
    .contact-form .girl-img {
        left: -45%;
    }
    .marketing-move-arrow {
        padding-left: 19px;
    }
}
@media (max-width: 991px) { 

    .collapse.show {
        height: 350px;
    }
    .card-all-content {
        width: 100%;
    }
    .card-card-site {
        margin-left: 72px;
    }
    div.col-lg-3:nth-child(1){
        padding-bottom: 80px;
    }
    .services-header p {
        padding: 0px 0px;
    }
    header h2, .upper-text h2 {
        font-size: 23px;
    }
    .team-carousel .item img {
        padding: 20px;
    }
    .contact-section .map iframe {
        width: 100%;
    }
    .footer-section {
        text-align: center;
    }
    .team-carousel h2 {
        font-size: 30px;
        padding-bottom: 16px;
        text-align: center;
    }
    .team-carousel {
        padding-bottom: 100px;
    }
    .progress-bar-img {
        text-align: center;
        margin: auto;
    }
    .progress-bar-left {
        padding-bottom: 80px;
        text-align: center;
    }
    .android-section .android-img {
        padding-left: 0px;
        text-align: center;
        margin: auto;
    }
    .android-text .marketing-text-contant {
        width: 100%;
    }
    .marketing-text-contant {
        width: 100%;
    }
    .marketing-laptop-img {
        text-align: center;
        margin: auto;
    }
    .marketing-img-site{
        padding-bottom:50px;
    }
    .marketing-move-arrow {
        transform: rotate(10deg);
        padding-left: 193px;
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(12deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }
    .card-area {
        padding-bottom: 70px;
    }
    .card-text-site {
        text-align: center;
        padding-bottom: 50px;
    }
    .card-text-site h1 {
        font-size: 28px;
        line-height: 37px;
    }
    .marketing-move-arrow {
        padding-left: 184px;
    }
    .card-card-site {
        margin-left: 0px;
    }
    .card-all-content:hover{
        margin-left: 0px;
    }
    .banner-images-wrapper .banner-images-3 img ,
    .banner-images-wrapper .banner-images-2 img ,
    .banner-images-wrapper .banner-images-1 img {
        display: none;
    }
    .banner-area {
        margin-bottom: -217px;
    }
    .card-area {
        padding-bottom: 0;
    }
    .header-area .our-main-menu ul {
        left: 150px;
        top: 0%;
        z-index: 2;
    }
    .header-area li:hover ul {
        top: 0%;
    }
    .contact-number {
        padding-left: 7px;
    }
    .navbar-nav > li:nth-child(6) > a:nth-child(1){
        padding-bottom: 5px;
    }
    .header-area ul li a {
        padding-bottom: 0px;
    }
    .header-area ul li {
        padding: 7px;
    }
    .header-area ul li:hover {
     background-color:  #0da500;
     border: none;
     z-index: 1;
    }
    .contact-number:hover {
        background-color:  #0da500;
        border: none;
        z-index: 1;
    }
    .header-area ul li:nth-child(6) {
        border-right: none;
    }
 }
@media (max-width: 768px) { 
    .banner-images-wrapper .banner-images-3 img ,
    .banner-images-wrapper .banner-images-2 img ,
    .banner-images-wrapper .banner-images-1 img {
        display: none;
    }
    .card-card-site {
        margin-left: 0px;
    }
    .card-all-content:hover{
        margin-left: 0px;
    }
    .android-text{
        padding-bottom: 50px;
    }
    .android-move-img img {
        padding-left: 57px;
    }
    .marketing-move-arrow {
        padding-left: 78px;
    }
    .counter-section > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
        padding-bottom: 50px;
    }
    .counter-section > div:nth-child(1) > div:nth-child(1) > div:nth-child(2){
        padding-bottom: 50px;
    }
    .counter-section > div:nth-child(1) > div:nth-child(1) > div:nth-child(3){
        padding-bottom: 50px;
    }
    .all-it-services{
        text-align: center;
    }
    .progress-bar-left h2, .services-header h2, .upper-text h2 {
        font-size: 20px;
        line-height: 20px;
    }
    .rocket {
        display: none;
    }
    .map{
            padding-bottom: 50px;
    }
    .contact-form .girl-img{
        display: none;
    }
    .contact-form .boy-img{
        display: none;
    }
    .contact-form {
        max-width: 393px;
    }
 }
@media (max-width: 576px) { 
    .banner-area .banner-text h2 {
        font-size: 18px;
    }
    .banner-area {
        padding-bottom: 290px;
        margin-top: -220px;
    }
    .banner-angle-img {
        bottom: 69%;
    }
    .banner-bottom-circle-img {
        bottom: -1%;
    }
    .card-text-site h1 {
        font-size: 18px;
        line-height: 28px;
        padding-bottom: 43px;
    }
    .fad-text {
        font-size: 18px;
        padding-bottom: 18px;
    }
    .counter-section .counter-angle {
        left: 20%;
        top: 8%;
    }
    .counter-section .counter-circle {
        left: 20%;
        top: 52%;
    }
    .counter-section .counter-shap {
        top: 80%;
        left: 70%;
    }
    .single-it-services img {
        padding-bottom: 20px;
    }
    .rocket-section h2 {
        font-size: 25px;
    }
    .team-carousel h2 {
        font-size: 22px;
    }
    .contact-form {
        padding-bottom: 62px;
    }
    .footer-social-icon > p:nth-child(2){
        padding-left: 50px;
        padding-right: 50px;
    }
    .social-symble{
        display: inline-flex;
    }
    .card-area {
        padding-bottom: 0px;
    }
    .subscribe-button {
        width: 100%;
    }
    .contact-form {
        height: 480px;
    }
    .contact-form {
        max-width: 393px;
    }
 }
